<form method="post" action="{{ path('app_avistransport_delete', {'idavis': avistransport.idavis}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ avistransport.idavis) }}">
    <button class="btn">Delete</button>
</form>
